.taskContainer {
  background-color: black;
  color: white;
  width: 100%;
  margin: 8px 0;
  padding: 0 0 0 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    user-select: none;
    overflow: hidden;
    position: relative;

    &:hover {
      cursor: grab;
    }
  }
}

.controlButtonsContainer {
  display: flex;
  justify-content: center;
}

.deleteButton {
  padding: 13px;

  &:hover {
    transition: background-color 1s;
    background-color: #fc5e5e;
  }
  &:not(:hover) {
    transition: background-color 1s;
    background-color: transparent;
  }
}
.doneButton {
  padding: 13px;

  &:hover {
    transition: background-color 1s;
    background-color: #5efc8d;
  }
  &:not(:hover) {
    transition: background-color 1s;
    background-color: transparent;
  }
}

.gray {
  transition: background-color 1s;
  background-color: #f0ecec;
}
