.pageContainer {
  background-color: white;
}

$button-margin: 20px;
button {
  font-size: 44px;
  padding: 10px;
  margin: $button-margin;
  width: calc(100% - 2 * $button-margin);
  max-width: 388px;
  border: none;

  &:hover {
    transition: background-color 0.5s;
    background-color: white;
  }
  &:not(:hover) {
    transition: background-color 0.5s;
    background-color: #5efc8d;
  }
}
