.pageContainer {
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
}

.addTaskInput {
  border-radius: 4px 0 0 4px;
}

.addTaskButton {
  margin: 0;
  padding: 0;
  width: 108px;
  height: 76px;
  border-radius: 0 4px 4px 0;
}

.inputContainer {
  display: flex;
}

.controlContainer {
  width: 100%;
  max-width: 595px;
}
