.pageContainer {
  flex-direction: column;
  color: white;
}

.welcomeButton {
  font-size: 44px;
  padding: 10px;
  max-width: 388px;
  border: none;

  &:hover {
    background-color: white;
    color: black;
  }
}
