$NavBarHeight: 98px;
$NavBarHorizontalPadding: 28px;

.navBarContainer {
  width: 100%;
  max-width: 100vw;
  background-color: black;
  color: white;
  height: $NavBarHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 0 $NavBarHorizontalPadding;
  box-sizing: border-box;
}

$childsYMargin: 15px;
.userInfo {
  height: 100%;
  display: flex;
  align-items: center;
  > * {
    margin: $childsYMargin 10px;
  }
}

.userImageContainer {
  height: 68px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.userImage {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//    position: absolute;
//    width: 100%;
//
//    left: 50%;
//
//    object-fit: cover;

.dropDown {
  position: absolute;
  right: $NavBarHorizontalPadding;
  top: calc($NavBarHeight - 5px);
  background-color: white;
  border: 1px solid black;
  padding: 5px;

  button {
    font-size: 22px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 500px) {
  .navBarContainer {
    padding: 0 5px;
  }
}
