@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;600&display=swap");

@mixin my-font($font-size, $font-weight: normal) {
  font: #{$font-weight} #{$font-size}/ 1.5 Poppins;
}

$bigFont: 48px;
$mediumFont: 32px;
$smallFont: 22px;

body {
  @include my-font($mediumFont);
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  max-width: 100vw;
  min-height: 100vh;
}

input,
div {
  @include my-font($smallFont);
}

p {
  margin: 0;
}

h1 {
  @include my-font($bigFont, bold);
  margin: 0;
}

button {
  @include my-font($mediumFont);
  padding: 14px 20px;
  max-width: 150px;
  border: none;

  &:hover {
    transition: color 0.6s, background-color 0.3s;
    background-color: black;
    color: white;
  }
  &:not(:hover) {
    transition: color 0.6s, background-color 0.3s;
    background-color: #5efc8d;
    color: black;
  }
}

input[type="text"] {
  width: 100%;
  max-width: 487px;
  padding: 22px;
  box-sizing: border-box;
  border: none;
  background-color: #e6ebff;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  * {
    border-radius: 4px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  transition: background-color 0.6s;
  background-color: red !important;
  animation: shake 0.5s;
}

@media only screen and (max-width: 500px) {
  $bigFont: 32px;
  $mediumFont: 24px;
  $smallFont: 20px;

  input,
  label,
  p,
  div {
    @include my-font($smallFont);
  }

  h1 {
    @include my-font($bigFont, bold);
  }

  button {
    @include my-font($mediumFont);
  }
}
